.form-style {
    text-align: center;
    width: 400px;
    height: 340px;
    margin: 40px auto;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: 400px 340px;
    border-radius: 0 0 0 0;
    border: 2px solid rgb(73, 70, 70);
    box-shadow: 10px 10px 10px rgb(128, 122, 122);
}
.a{
  font-size:48px;
  color:red;
}
.showw{
  border-style: groove;
  border-width: medium;
   border-left: 6px solid green;
    margin: 25px 50px;
}
.btn-btn-primary
{
  border-radius:50%;
  padding: 12px 28px;
  background-color: #4CAF50;
}
.b{
  width: 600px;
height: 150px;
background-color: lightgreen;
-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
animation-name: example;
animation-duration: 8s;
}

/* Standard syntax */
@keyframes example {
0%   {background-color: lightgreen;}
25%  {background-color: lightpink;}
50%  {background-color: red;}
100% {background-color: lightblue;}
}
.c{
  width: 1000px;
height: 90px;
background-color:lightgreen;
-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
animation-name: example;
animation-duration: 8s;
}

/* Standard syntax */
@keyframes example {
0%   {background-color:lightgreen;}
25%  {background-color: lightpink;}
50%  {background-color: grey;}
100% {background-color: lightblue;}
}
